# Ignore compiled executables
fuzzer
*.exe

# Object files
*.o

# seed files
seed/*

# target files
target/*

# muatated output
mutated.bin

# Crash outputs
crashes/*

#ignore target program
tidy

# scripts / downloads
llvm.sh